trigger:
- main

stages:

- stage: Build
  displayName: 'Build Node.js App'
  jobs:
  - job: BuildJob
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - checkout: self

    - task: NodeTool@0
      inputs:
        versionSpec: '16.x'
      displayName: 'Install Node.js'

    - script: |
        npm install
      displayName: 'Install Dependencies'

    - script: |
        echo "Listing app folder:"
        ls -R $(Build.SourcesDirectory)
      displayName: 'Debug: All files'

    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: '$(Build.SourcesDirectory)'
        artifactName: 'nodeapp'

- stage: Deploy
  displayName: 'Deploy Node.js App'
  dependsOn: Build
  jobs:
  - job: DeployJob
    pool:
      name: 'Java_Deployment'
    steps:
    - task: DownloadPipelineArtifact@2
      inputs:
        artifactName: 'nodeapp'
        targetPath: '$(Pipeline.Workspace)/nodeapp'

    - task: CopyFilesOverSSH@0
      inputs:
        sshEndpoint: 'Java_YAML'
        sourceFolder: '$(Pipeline.Workspace)/nodeapp'
        contents: '**'                         # ensure all files
        targetFolder: '/home/itadmin/node-sample'
        cleanTargetFolder: true

    - task: SSH@0
      inputs:
        sshEndpoint: 'Java_YAML'
        runOptions: 'commands'
        commands: |
          cd /home/itadmin/node-sample
          pwd
          ls -la
          npm install --production
          pm2 restart all || pm2 start index.js --name node-sample
